# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv
env/
venv/
.pytest_cache/

# Large Datasets & Artifacts
data/BAF_NeurIPS_2022.csv
artifacts/*.pkl
artifacts/*.xlsx
*.log
mlruns/
mlflow.db

# IDE & OS
.DS_Store
.vscode/
.idea/
catboost_info/
